.nav1{
	width: 70%;margin-right: 1%;background-color: red;float: left;
}

.nav2{
	width: 29%;background-color: red;float: right;
}

header{
	width: 38%;float: left;background-color: blue;
}

.container{
padding: 1%;background-color: black;height: 800px;
}

nav{
	float: right;background-color: skyblue;width: 60%;
}

figure{
	background-color: lightyellow;
}