.nav1{
	width: 70%;margin-right: 1%;background-color: transparent;float: left;
}

.nav2{
	width: 29%;background-color: transparent;float: right;
}

header{
	width: 38%;float: left;margin-bottom:1% ;
}

.container{
padding: 1%;background-color: #435132;height: 800px;font-family: sans-serif;
}

nav{
	float: right;background-color: transparent;width: 60%;color: white;
}

figure{
	background-color: white;clear: both;height: 200px;margin: 0%;
}

section{
	background-color: white;float: left;height: 200px;margin-right: 1%;width: 100px;margin-top: 1%;
}
.nav1 ul{
	list-style-type: none;float: left;width: 30%;
}

.nav2 ul{
	float: left;list-style-type: none;font-family: sans-serif;
}

a:link {
  color: white;text-decoration: white;font-family: sans-serif;
}

a:visited {
  color: white;
}

a:hover {
  color: gold;text-decoration: none;
}

a:active {
  color: white;text-decoration: none;
}